html, body {

    height: 100%;
    margin: 0;
    padding: 0;

}

a {
    margin: 0px 10px;
    color: #5a5;
    text-emphasis: strong;
}


#title {
    width: 100%;
    background:#3d36;
    margin: auto;
    text-align: center;
    padding: 30% 0;

}


#game {
    display:none;
    height: 95%;
}

.big-button {
    background: #3d36;
    text-align: center;
       
}
.bigbutton:hover {
    cursor: pointer;
}

#mid-buttons-container {
    width: 100%;
    height: 30%;
    margin: 1em 0;
}

#button-up, #button-down {
    width: 100%;
    height: 33%;
}

#button-left {
    width: 42%;
    height: 100%;
    float: left;
}

#button-right {
    width: 42%;
    height: 100%;
    float: right;
}